.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: snow;
  background: mediumaquamarine;
  height: 10vh;
  width: 100%;
}

.header div {
  padding: 0 5vw;
}

.header div:hover {
  cursor: pointer ;
}

.active {
  color: aqua;
}
